.site-header {
  padding-block: calc(var(--spacing) / 2);
  position: fixed;
  inset-block-end: 0;
  inset-inline: 0;
  z-index: 10000;

  @supports(animation-timeline: view()) {
    &::after {
      background-image: linear-gradient(to right, transparent, black);
      content: '';
      display: block;
      position: fixed;
      inset-block-end: calc(var(--spacing) / 2);
      inset-inline-end: 0;
      width: 33%;
      height: calc(var(--spacing) * 1.5 + 2px);
    }
  }

  @media (min-width: 64rem) {
    display: flex;
    inset-block-start: 0;
    inset-block-end: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.fieldset-wrapper {
  --height: calc(var(--spacing) * 2);

  border-radius: calc(var(--height) / 2);
  overflow: auto;

  /* Prevent aliased border due to overflow clipping with border-radius */
  padding-inline: 1px;
}

fieldset {
  --font-size-min: 14;
  --font-size-max: 16;

  background-color: hsla(0deg, 0%, 0%, 0.5);
  backdrop-filter: blur(5px);
  border: 1px solid var(--color-ui);
  border-radius: inherit;
  display: flex;
  font-size: var(--font-size);
  margin: 0 auto;
  padding: 0;
  width: max-content;

  @media (min-width: 64rem) {
    margin: 0;
  }
}

label {
  --transition: 0.01s;

  border-radius: inherit;
  overflow: hidden;
  padding-inline: var(--spacing);
  padding-block: calc(var(--spacing) / 4);
  position: relative;
  transition: var(--transition) linear;
  white-space: nowrap;

  &::before {
    content: '';
    background-color: var(--color-ui);
    border-radius: inherit;
    display: block;
    transform: translateX(100.5%);
    transition: inherit;
    position: absolute;
    inset: 0;
    z-index: -1;
  }
}

:checked + label {
  --transition: 0.25s;

  color: var(--color-background);
  overflow: visible;

  &::before {
    transform: translateX(0);
  }

  ~ label::before {
    transform: translateX(-100.5%);
  }
}

legend {
  color: var(--color-secondary);
}

input {
  accent-color: var(--color-primary);
}

/* Hides elements visually, leaves accessible to screenreaders */
.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
}

@media (min-width: 64rem) {
  h1.sr-only {
    --font-size-min: 14;
    --font-size-max: 16;

    all: unset;
    color: var(--color-text);
    font-family: var(--font-family-default);
    font-size: var(--font-size);
    font-weight: 500;
    letter-spacing: 0.01em;
    margin: 0;
  }
}

nav {
  --indicator-number: 5;
  --indicator-top: 50dvb;
  --indicator-right: var(--spacing);

  --indicator-size: 1em;
  --indicator-padding: calc((var(--min-tap-size) - var(--indicator-size)) / 2);
  --indicator-clipped-margins: var(--indicator-padding) * 2;
  --indicator-total-size: calc(var(--indicator-size) + var(--indicator-padding) * 2);

  --indicator-gap: var(--min-tap-space);
  --indicator-total-gap: calc(var(--indicator-gap) * (var(--indicator-number) - 1));

  --indicator-total-height: calc(var(--indicator-total-size) * var(--indicator-number) + var(--indicator-total-gap) - var(--indicator-clipped-margins));

  /* Make indicators smaller when mouse is being used */
  @media (pointer: fine) {
    --indicator-padding: 0.25em;
  }

  position: fixed;
  inset-block-start: var(--indicator-top);
  inset-inline-end: var(--indicator-right);
  margin-block-start: calc(var(--indicator-total-height) / -2);
  z-index: 100;

  ul {
    display: flex;
    flex-direction: column;
    gap: var(--indicator-gap);
    margin: 0;
    padding: 0;
    position: relative;

    &::before {
      --size: calc(var(--indicator-size));

      border-radius: 50%;
      content: '';
      color: var(--color-indicator, var(--color-text));
      background-color: currentColor;
      box-shadow: inset 0 0 0 4px var(--color-background);
      position: absolute;
      inset-inline: 0;
      margin-inline: auto;
      padding: 3px;
      width: var(--size);
      height: var(--size);
      z-index: -1;
    }
  }

  li:first-of-type {
    margin-block-start: calc(var(--indicator-padding) * -1);
  }

  li:last-of-type {
    margin-block-end: calc(var(--indicator-padding) * -1);
  }

  li,
  a {
    display: block;
  }

  a {
    --color-link: var(--color-text);

    padding: var(--indicator-padding);

    &::before {
      content: '';
      border: 1px solid;
      border-radius: 50%;
      display: block;
      width: var(--indicator-size);
      height: var(--indicator-size);
    }
  }

  @supports not (animation-timeline: scroll()) {
    display: none;
  }
}

footer {
  --font-size-min: 14;
  --font-size-max: 16;

  color: var(--color-accent);
  font-size: var(--font-size);
  text-align: center;
  position: relative;
  z-index: 100;
}

.emoji {
  background-color: var(--color-background);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--color-primary);
    mix-blend-mode: hue;
  }
}