.site-header {
  display: flex;
  justify-content: space-between;
  padding-block: calc(var(--spacing) / 2);
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  z-index: 10000;
}

fieldset {
  --font-size-min: 14;
  --font-size-max: 16;
  --height: calc(var(--spacing) * 2);

  background-color: hsla(0deg, 0%, 0%, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid var(--color-ui);
  border-radius: calc(var(--height) / 2);
  display: flex;
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
}

label {
  padding-inline: var(--spacing);
  padding-block: calc(var(--spacing) / 4);
}

:checked + label {
  background-color: var(--color-ui);
  border-radius: inherit;
  color: var(--color-text);
}

legend {
  color: var(--color-secondary);
}

input {
  accent-color: var(--color-primary);
}

h1 {
  --font-size-min: 14;
  --font-size-max: 16;

  color: var(--color-text);
  font-family: var(--font-family-default);
  font-size: var(--font-size);
  font-weight: 500;
  letter-spacing: 0.01em;
  margin: 0;
}

/* Hides elements visually, leaves accessible to screenreaders */
.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
}


nav {
  --indicator-number: 5;
  --indicator-top: 50dvb;
  --indicator-right: var(--spacing);

  --indicator-size: 1em;
  --indicator-padding: calc((var(--min-tap-size) - var(--indicator-size)) / 2);
  --indicator-clipped-margins: var(--indicator-padding) * 2;
  --indicator-total-size: calc(var(--indicator-size) + var(--indicator-padding) * 2);

  --indicator-gap: var(--min-tap-space);
  --indicator-total-gap: calc(var(--indicator-gap) * (var(--indicator-number) - 1));

  --indicator-total-height: calc(var(--indicator-total-size) * var(--indicator-number) + var(--indicator-total-gap) - var(--indicator-clipped-margins));

  /* Make indicators smaller when mouse is being used */
  @media (pointer: fine) {
    --indicator-padding: 0.25em;
  }

  position: fixed;
  inset-block-start: var(--indicator-top);
  inset-inline-end: var(--indicator-right);
  margin-block-start: calc(var(--indicator-total-height) / -2);
  z-index: 100;

  ul {
    display: flex;
    flex-direction: column;
    gap: var(--indicator-gap);
    margin: 0;
    padding: 0;
    position: relative;

    &::before {
      --size: calc(var(--indicator-size));

      border-radius: 50%;
      content: '';
      color: var(--color-indicator, var(--color-text));
      background-color: currentColor;
      box-shadow: inset 0 0 0 4px var(--color-background);
      position: absolute;
      inset-inline: 0;
      margin-inline: auto;
      padding: 3px;
      width: var(--size);
      height: var(--size);
      z-index: -1;
    }
  }

  li:first-of-type {
    margin-block-start: calc(var(--indicator-padding) * -1);
  }

  li:last-of-type {
    margin-block-end: calc(var(--indicator-padding) * -1);
  }

  li,
  a {
    display: block;
  }

  a {
    --color-link: var(--color-text);

    padding: var(--indicator-padding);

    &::before {
      content: '';
      border: 1px solid;
      border-radius: 50%;
      display: block;
      width: var(--indicator-size);
      height: var(--indicator-size);
    }
  }

  @supports not (animation-timeline: scroll()) {
    display: none;
  }
}

footer {
  --font-size-min: 14;
  --font-size-max: 16;

  color: var(--color-accent);
  font-size: var(--font-size);
  text-align: center;
  position: relative;
  z-index: 100;
}

.emoji {
  background-color: var(--color-background);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--color-primary);
    mix-blend-mode: hue;
  }
}

/*
 Image position:

 Maximum width does not exceed 30vw
 No maximum height

  Image is floated to the left

  If image height is larger than screen height, image is positioned at the top of the screen
  If image height is smaller than screen height, image is positioned at the bottom of the screen
  If image height is considerably smaller than screen height, image is centered vertically

*/