.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-block: var(--spacing);
  padding-inline: inherit;
  position: relative;
  height: 100%;

  @media (min-width: 800px) {
    flex-direction: row;
    justify-content: space-between;
  }

  strong,
  code {
    color: var(--color-highlight);
  }

  code {
    font-family: var(--font-family-default);
  }

  .selector {
    --color-property: var(--color-highlight);

    color: var(--color-selector);
  }

  .property {
    --color-property: var(--color-highlight);

    color: var(--color-property);
  }

  ul {
    --font-size-min: 14;
    --font-size-max: 16;

    font-size: var(--font-size);
    font-weight: 400;
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: calc(var(--spacing) / 2);

    &::marker {
      content: '🌷 ';
      color: var(--color-highlight);
    }
  }
}

h2,
.text {
  /* Making space for the scroll indicators */
  padding-inline-end: calc(var(--min-tap-size) + var(--spacing));

  @media (min-width: 80em) {
    padding-inline-end: 0;
  }

  @supports not (animation-timeline: scroll()) {
    padding-inline-end: 0;
  }
}

h2 {
  margin-block-start: 0;
  text-shadow: 1px 2px 0.1em hsla(0, 0%, 0%, 0.5);

  @media (min-width: 800px) {
    flex: 1;
  }
}

.text {
  --intrinsic-width: 587;
  --intrinsic-height: 930;
  --height: min(100dvb, 33vw * var(--intrinsic-height) / var(--intrinsic-width));
  --offset: calc(var(--height) / 3);
  position: relative;

  @media (min-width: 800px) {
    font-weight: 200;
    padding-block-start: var(--spacing);
    flex: 1;
    z-index: -1;

    img {
      float: inline-start;
      height: var(--height);
      margin-left: calc((1 - var(--intrinsic-width) / var(--intrinsic-height)) * -100%);
      shape-outside: var(--image);
      shape-margin: var(--spacing);
      opacity: 0.65;

      /* TODO: Fix this */
      /* This doesn't work with shape-outside in Chrome */
      /* It does work in Firefox */
      /* Something about the margin box, and Chrome defaulting to 0 on negative margins */
      position: relative;
      top: var(--offset);
      margin-top: calc(var(--offset) * -2);
    }
  }
}

section:nth-child(1) {
  --color-highlight: var(--color-primary);
  --color-selector: var(--color-secondary);
  --image: url('../src/img/flower-white.png');
}

section:nth-child(2) {
  --color-highlight: var(--color-yellow);
  --color-selector: var(--color-green);
  --image: url('../src/img/flower-yellow.png');
  --margin-top: 10dvi;
}

section:nth-child(3) {
  --color-highlight: var(--color-secondary);
  --color-selector: var(--color-primary);
  --image: url('../src/img/flower-blue.png');
}

section:nth-child(4) {
  --color-highlight: var(--color-red);
  --color-selector: var(--color-green-2);
  --image: url('../src/img/flower-red.png');
}

section:nth-child(5) {
  --color-highlight: var(--color-primary);
  --color-selector: var(--color-secondary);
  --image: url('../src/img/flower-purple.png');
  --margin-top: 10dvi;
}